---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=3bfa2382f390444c9f796b828e4514c8&units=metric&zip=10001,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9967,"lat":40.7484},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":8.02,"feels_like":5.1,"temp_min":8.02,"temp_max":8.02,"pressure":1023,"humidity":39,"sea_level":1023,"grnd_level":1021},"visibility":10000,"wind":{"speed":5.03,"deg":246,"gust":13.8},"clouds":{"all":100},"dt":1743146272,"sys":{"country":"US","sunrise":1743158737,"sunset":1743203764},"timezone":-14400,"id":0,"name":"New
        York","cod":200}'
  recorded_at: Fri, 28 Mar 2025 07:17:52 GMT
recorded_with: VCR 6.1.0
